<footer>
    <hr class="footer-hr">
    <p>&copy {{@blog.title}}, powered by <a href="https://https://ghost.org/developers/">Ghost</a>, theme <a href="https://github.com/abowloflrf/nomore">nomore</a></p>
</footer>