<!-- Loop through the navigation items -->
{{#foreach navigation}}
<a href="{{url absolute=" true "}}" class="navbar-item nav-{{slug}}{{#if current}} nav-current{{/if}}">{{label}}</a>
{{/foreach}}
<!-- End the loop -->