<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="/assets/css/global.css">
    
    {{ghost_head}}
</head>

<body>
    {{> "navbar"}}
    <div class="container">
        {{{body}}}
    </div>
    {{ghost_foot}}
</body>

</html>