* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: Consolas, "Liberation Mono", Menlo, Monaco, "Source Han Sans CN",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 14px;
}

code {
  font-family: "Fira Code", Consolas, Monaco, Consolas, monospace;
}

a {
  text-decoration: none;
  color: #374355;
}

/* 正文如下 */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-width {
  max-width: 860px;
  padding: 0 20px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.075);
  position: fixed;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar .container {
  padding: 15px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-menu ul {
  margin: 0;
  padding: 0;
}
.navbar-item {
  display: inline;
  margin: 0;
  padding: 0;
}
.navbar-item a {
  font-size: 20px;
  font-family: "Hammersmith One", sans-serif;
  text-decoration: none;
  padding: 8px;
}
.navbar-item a::after {
  content: "/";
  color: #9eabb3;
}

.footer-hr {
  margin: 50px 0px 10px 0px;
  border: none;
  height: 2px;
  border-top: 1px solid #c9d3df;
}

footer p {
  font-size: 14px;
  color: #9eabb3;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container-width {
    padding: 0 10px;
  }
  .navbar {
    height: 40px;
  }
  .navbar-item a {
    font-size: 14px;
    padding: 4px;
  }
}
