body {
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Merriweather", Georgia, "Source Han Sans CN", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
        Helvetica, Arial, sans-serif;
}
code {
    font-family: "Fira Code", Consolas, Menlo, "Courier New", Courier, monospace;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: #374355;
}
/* 正文如下 */
.navbar {
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.075);
}

.navbar .nav-logo {
    height: 40px;
}

.container {
    margin: 0 auto;
    padding: 0px 40px;
}
.navbar-brand {
    display: flex;
    flex-shrink: 0;
}
.navbar-burger {
    cursor: pointer;
    display: block;
    height: 60px;
    position: relative;
    width: 60px;
    margin-left: auto;
}
.navbar-burger span {
    background-color: #374355;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform, -webkit-transform;
    transition-timing-function: ease-out;
    width: 16px;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
}

.navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.navbar-burger.is-active span:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
    opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
}
.navbar-item {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    padding: 0.5rem 1rem;
    line-height: 40px;
    text-transform: uppercase;
    display: block;
}
.navbar-menu {
    display: none;
}
@media screen and (max-width: 600px) {
    .navbar .nav-logo {
        height: 24px;
    }
    .navbar-burger {
        height: 40px;
        width: 40px;
    }
    .navbar-menu.is-active {
        display: block;
    }
    .navbar-menu {
        background-color: white;
        padding: 0.5rem 0;
    }
    .navbar-item {
        font-size: 14px;
        line-height: 20px;
    }
    .navbar-brand .navbar-item {
        display: flex;
    }
}

@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
    }
    .navbar-burger {
        display: none;
    }
    .navbar-menu {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
    }
    .navbar-item {
        align-items: center;
        display: flex;
    }
}
