header {
    margin-top: 40px;
}
.index-title {
    font-size: 32px;
    font-weight: 400;
    margin: 20px 0;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}
.index-description {
    font-size: 20px;
    color: #9eabb3;
    font-weight: 400;
}
.index-tag {
    font-weight: 400;
    font-size: 32px;
}
.index-hash {
    color: #9eabb3;
}
.index-hr {
    margin: 20px 0px;
    border: none;
    height: 2px;
    border-top: 1px solid #c9d3df;
}
article.post {
    margin-bottom: 20px;
}
.post-header {
    position: relative;
    left: 60px;
}
.post-header h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    word-break: keep-all;
}
.post-header a:hover {
    text-decoration: underline;
    text-decoration-color: #9eabb3;
}
.post-meta {
    position: absolute;
}
.post-meta time {
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
    color: #9eabb3;
}

nav.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.page-number {
    margin: 0px 20px;
}

@media (max-width: 600px) {
    .index-title {
        font-size: 28px;
        margin: 10px 0px;
    }
    .index-description {
        font-size: 18px;
        margin: 0px;
    }
    article.post {
        margin-bottom: 10px;
    }
    .post-header {
        position: unset;
    }
    .post-header h2 {
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
        word-break: unset;
    }
    .post-meta {
        position: unset;
        float: none;
    }
    .post-meta time {
        font-size: 12px;
        line-height: 18px;
    }
}
